.form {
  color: #333;

  &__group {
    @include rem(margin-bottom, 20px);
  }

  &__label {
    display: inline-block;
    @include rem(margin-bottom, 10px)
  }

  &__input {
    width: 100%;
    @include rem(padding, 12px, 16px);
    @include rem(border-radius, 6px);
    border: 1px solid #E6E6E6;
    transition: all 0.35s ease-in;
    box-shadow: 0 2px 2px 0 transparent;

    &:active,
    &:focus {
      outline: none;
      box-shadow: 0 2px 2px 0 rgba(darken(#E6E6E6, 30%), 0.15);
    }
  }
}
