.nav-bar {
  @include rem(height, 64);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $navbar-font-color;

  &__brand {
    color: $navbar-font-color;
    text-decoration: none;
    @include rem(font-size, 32);
  }
}
